.Button {
	box-sizing: border-box;
	display: block;
	border: none;
	outline: none;
	margin: 0;
	text-decoration: none;
	background-color: var(--pop-color);
	color: white;
	cursor: pointer;
	text-align: center;
	-webkit-appearance: none;
	-moz-appearance: none;
	box-shadow: none;
	padding: 0.5rem 3rem;
	border-radius: 5px;
	margin: 2rem auto;
	transition: background-color 0.1s;
	font-size: 1rem;
	font-weight: 300;

	a,
	a:link,
	p {
		color: white;
		font-size: 1rem;
		outline: none;
		text-decoration: none;
	}

	&:hover,
	&:focus {
		background-color: var(--pop-color-dark);
	}
}

/* Inverted Button Styling */

.inverted {
	composes: Button;
	background-color: white;
	padding: 0.4rem 2.5rem;
	color: var(--pop-color);
	border: 2px solid var(--pop-color);
}

.inverted a,
.inverted a:link,
.inverted p {
	text-decoration: none;
	color: var(--pop-color);
	font-size: 1rem;
	outline: none;
}

.inverted:hover,
.inverted:focus {
	background-color: #dddddd;
}
