.div {
	box-sizing: border-box;
	position: relative;
	display: block;
	margin: 1rem auto 0;
	height: 1rem;
	width: 50%;
	max-width: 400px;
}

.label {
	box-sizing: border-box;
	position: relative;
	display: block;
	top: 0.5rem;
	left: 0.75rem;
	transition: all 0.1s;
	text-align: left;
	width: max-content;
	border-radius: 5px;
	padding: 0.1rem 0.3rem;
}

.up {
	z-index: 1;
	background-color: white;
	color: #60399dff;
	font-size: 0.8rem;
	top: 0.2rem;
}

.down {
	color: #adadad;
	top: 1.75rem;
	font-size: 1rem;
}

.redLabel {
	color: red;
}

.inactiveLabel {
	color: #777;
	background-color: #efefef;
}

.textarea {
	box-sizing: border-box;
	position: relative;
	display: block;
	height: 10rem;
	resize: none;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-webkit-appearance: none;
	outline: none;
	background-color: transparent;
	border: 1px solid #bbb;
	transition: all 0.1s;
	width: 50%;
	margin: 0 auto;
	border-radius: 5px;
	max-width: 400px;
	padding: 0.5rem 1rem;
	font-size: 16px;
}

.textarea:hover {
	border: 1px solid #555;
}

.colorTextarea,
.colorTextarea:hover {
	border: 1px solid #60399dff;
}

.redTextarea,
.redTextarea:hover {
	border: 1px solid red;
}

.inactiveTextarea {
	border-color: #adadad;
	background-color: #efefef;
	pointer-events: none;
	z-index: -1;
}

.message {
	box-sizing: border-box;
	position: relative;
	display: block;
	font-size: 0.75rem;
	width: 50%;
	margin: 0 auto;
	padding: 0;
	margin-bottom: 1rem;
	max-width: 400px;
	text-align: left;
	color: black;
	top: 0.2rem;
	left: 1.1rem;
	height: 1rem;
}

.redMessage {
	composes: message;
	color: red;
}

.eye {
	position: absolute;
	width: 1.2rem;
	right: 0.5rem;
	top: 2.1rem;
	cursor: pointer;
	z-index: 1;
}
