.LogoutDiv {
  position: absolute;
  text-align: right;
  top: 0.5rem;
  right: 1rem;
}

@media (min-width: 900px) {
  .LogoutDiv {
    top: 1em;
    right: 2rem;
  }
}

.LogoutDiv a {
  color: white;
}

.title {
  position: relative;
  width: max-content;
  margin: 0 auto;
  left: -5%;
  color: white;
}

.subtitle {
  position: relative;
  left: 5%;
  color: white;
  margin-bottom: 3rem;
}

/* Wavy element */
.waveDiv {
  position: absolute;
  z-index: -5;
  height: 210px;
  width: 100%;
  overflow: hidden;
}

.waveSvg {
  height: 100%;
  width: 100%;
}

.wavePath {
  stroke: none;
  fill: var(--pop-color);
}

.img1 {
  position: relative;
  display: block;
  width: 30vw;
  min-width: 250px;
  margin: 0 auto;
  left: -2%;
}

.Link {
  text-decoration: none;
  display: block;
  width: max-content;
  margin: 0 auto;
}
