.comment {
	p {
		display: inline-block;
	}
	width: 75%;
	min-width: 300px;
	max-width: 600px;
	margin: 3rem auto;
	background-color: white;

	display: grid;
	/* rows / columns */
	grid-template-columns: 50px 1fr;
	grid-template-rows: 1fr minmax(1rem, max-content);
	grid-template-areas:
		'profilePic header'
		'profilePic body';
	place-items: center; /* align justify */
	gap: 0.5rem;

	.profilePic {
		grid-area: profilePic;
		align-self: flex-start;

		height: 40px;
		width: 40px;
		object-fit: cover;
		object-position: center;
		border-radius: 35%;
	}

	header {
		grid-area: header;
		width: 100%;
		height: max-content;

		display: grid;
		/* 2 middle sections required here to prevent mobile spacing bug */
		grid: 1fr 1fr / auto auto 1fr 1fr;
		grid-template-areas:
			'name name activity activity'
			'time time more more';
		place-items: start;
		gap: 0.25rem;
	}

	.name {
		grid-area: name;

		display: inline-block;
		text-align: left;
		font-size: 1rem;
		font-weight: 600;

		width: 100%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.activity {
		grid-area: activity;
		text-align: right;
		align-self: flex-end;
		justify-self: flex-end;

		font-size: 0.75rem;
		width: 100%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.time {
		grid-area: time;
		text-align: left;
		align-self: flex-start;

		font-size: 0.75rem;
		width: 100%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.more {
		grid-area: more;
		justify-self: flex-end;
		position: relative;

		button {
			border: none;
			outline: none;
			background-color: transparent;
			display: flex;
			flex: none;
			align-items: center;
			height: 1.25rem;
			cursor: pointer;
		}

		img {
			width: 1rem;
		}

		.hiddenMenu {
			height: 100px;
			width: 1.5rem;
			left: 50%;
			transform: translateX(-50%);
			background-color: white;
			border-radius: 0 0 5px 5px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-evenly;
			position: absolute;
			z-index: -1000;
			pointer-events: none;
			opacity: 0;
		}

		&:hover .hiddenMenu {
			z-index: 0;
			pointer-events: auto;
			opacity: 1;
		}
	}

	main {
		grid-area: body;
		width: 100%;
		height: 100%;
	}
	.body {
		text-align: left;
		width: 100%;
		height: 100%;
	}
}
