.Logo {
	display: block;
	left: 50%;
	height: 150px;
	width: auto;
	margin: 0 auto;
	margin-top: 25vh;
}

.loadingBar {
	position: relative;
	margin: 2rem auto;
	height: 2px;
	width: 200px;
	background-color: #eee;
	overflow: hidden;
}

.loadingBar:before {
	position: absolute;
	left: 50%;
	content: '';
	width: 100px;
	height: 100%;
	background-color: var(--pop-color);
	animation: leftToRight 2s ease-in-out 0s infinite;
}

@keyframes leftToRight {
	0% {
		transform: translateX(calc(-50% - 125px));
	}
	50% {
		transform: translateX(calc(-50% + 125px));
	}
	100% {
		transform: translateX(calc(-50% - 125px));
	}
}
