.LogoutDiv {
  position: absolute;
  text-align: right;
  top: 1rem;
  right: 2rem;
}

.LogoutDiv a {
  color: white;
}

@media (min-width: 900px) {
  .LogoutDiv a {
    color: black;
  }
}

.title {
  text-align: left;
  color: white;
  width: 30vw;
  margin: 0 0 4rem 2rem;
}

.welcome {
  text-align: left;
  color: white;
  padding-top: 1rem;
  margin: 0 0 0 2.2rem;
}

/* Wavy element */
.waveDiv {
  position: absolute;
  z-index: -5;
  height: 210px;
  width: 100%;
  overflow: hidden;
}

.waveSvg {
  height: 100%;
  width: 100%;
}

.wavePath {
  stroke: none;
  fill: var(--pop-color);
}

.img1 {
  position: relative;
  display: block;
  width: 30vw;
  min-width: 250px;
  margin: 0 auto;
  left: -2%;
}
