.App {
  text-align: center;
}

.App ul {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

.App li {
  display: inline-block;
  margin: 1rem;
}

.App a {
  text-decoration: none;
}

form {
  width: 50%;
  margin: 0 auto;
}

label {
  display: block;
  text-align: left;
  width: 50%;
  margin: 0 auto;
  margin-top: 1rem;
}

input {
  width: 50%;
}

button {
  display: block;
  width: max-content;
  margin: 0 auto;
  margin-top: 1rem;
}
