/* Default Button Styling */
.Button {
  box-sizing: border-box;
  display: block;
  border: none;
  outline: none;
  margin: 0;
  text-decoration: none;
  background-color: var(--pop-color);
  color: white;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0.5rem 3rem;
  border-radius: 5px;
  margin: 2rem auto;
  box-shadow: var(--shadow);
  transition: background-color 0.1s;
}

.Button a,
.Button p {
  color: white;
  font-size: 1.25rem;
  outline: none;
  text-decoration: none;
}

.Button:hover,
.Button:focus {
  background-color: var(--pop-color-dark);
}

/* Inverted Button Styling */

.inverted {
  composes: Button;
  background-color: white;
  padding: 0.4rem 2.5rem;
  color: var(--pop-color);
  border: 3px solid var(--pop-color);
}

.inverted a,
.inverted p {
  color: var(--pop-color);
  font-size: 1.25rem;
  outline: none;
  text-decoration: none;
}

.inverted:hover,
.inverted:focus {
  background-color: #dddddd;
}
