.LogoutDiv {
  position: absolute;
  width: 100%;
  text-align: right;
  clear: both;
  right: 1rem;
}
.LogoutDiv a {
  color: white;
}

.title {
  color: white;
}

.subtitle {
  color: white;
  margin-bottom: 3rem;
}

/* Wavy element */
.waveDiv {
  position: absolute;
  z-index: -5;
  height: 210px;
  width: 100%;
  overflow: hidden;
}

.waveSvg {
  height: 100%;
  width: 100%;
}

.wavePath {
  stroke: none;
  fill: var(--pop-color);
}

.img1 {
  position: relative;
  display: block;
  width: 30vw;
  min-width: 250px;
  margin: 0 auto;
  left: -2%;
}
