rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	//disable all read/writes for the database by default
  	match /{docuemnt=**}{
    	allow read, write: if false;
    }
    match /users/{userId} {
    	//allow any authenticated user to see profile info
    	allow read: if request.auth != null;
      //allow only authenticated users to edit their own profile info
      //(write===create, update, delete)
      allow write: if request.auth != null && request.auth.uid == userId;
  	}
    match /posts/{document} {
    	//any authenticated user can read & create posts
      allow read, create: if request.auth != null;
      //only the logged-in owners of the post can edit them
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.uid;
    }
  }
}