/* Default */
.divHidden {
	display: block;
	width: max-content;
	min-width: 200px;
	max-width: 90%;
	border-radius: 5px;
	box-sizing: border-box;
	border: 3px solid transparent;
	overflow: hidden;
	transition: all 0.2s;
	display: block;
	height: max-content;
	padding: 5px;
	margin: 1rem auto;
}

.divRed {
	border: 3px solid var(--red);
}
.divGreen {
	border: 3px solid var(--green);
}
.divBlack {
	border: none;
}

.paragraphRed {
	color: red;
}
.paragraphGreen {
	color: green;
}
.paragraphBlack {
	color: black;
}
