.title {
  width: max-content;
  margin: 0 auto;
  margin-top: 5rem;
}

.SignupDiv {
  position: absolute;
  text-align: right;
  top: 0.5rem;
  right: 1rem;
}

@media (min-width: 900px) {
  .SignupDiv {
    top: 1em;
    right: 2rem;
  }
}

.SignupDiv a {
  color: black;
}

.buttonsDiv {
  margin-top: 2rem;
  display: flex;
  flex: none;
  align-items: center;
}

.linkLeft {
  position: relative;
  height: 60px;
  width: 60px;
  margin: 0 auto;
  cursor: pointer;
  box-shadow: var(--shadow);
  border-radius: 50%;
  overflow: hidden;
}

.linkLeftImg {
  transform: scale(1.05);
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.linkRight {
  height: 77px;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: var(--shadow);
}

.linkRightImg {
  border-radius: 50%;
  transform: scale(1.05);
}

.linkRight:focus,
.linkLeft:focus {
  outline-offset: 5px;
  outline: 3px solid var(--pop-color);
}
